<div class="card flex justify-content-center">
    <p-dialog header="Chi tiết task" [modal]="true" [(visible)]="subtaskModal" (onHide)="closeDialog()"
        [style]="{ width: '70rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <div class="flex justify-content-evenly">
            <div>
                <p><strong>Name:</strong> {{taskDetail?.name}}</p>
                <p><strong>Priority:</strong> {{taskDetail?.priority}}</p>
                <p><strong>Status:</strong> {{taskDetail?.status.id}}</p>
            </div>
            <div>
                <p><strong>Progress:</strong> {{taskDetail?.progress}}</p>
                <p><strong>Update_at:</strong> {{taskDetail?.updatedAt}}</p>
                <p><strong>Create_at:</strong> {{taskDetail?.createdAt}}</p>
            </div>
            <p><strong>Description:</strong> {{taskDetail?.description}}</p>
        </div>
        <div class="flex justify-content-between mb-8">
            <p-button (onClick)="showAddSubTask()" label="Create" />
            <div class="card flex justify-content-center">
                <p-calendar [(ngModel)]="createTime" dateFormat="dd/mm/yy" [showClear]="true"
                    (onSelect)="searchCreateTime()" (onClear)="searchCreateTime()" placeholder="Select  date" />
            </div>
            <div class="card flex justify-content-center">
                <p-calendar [(ngModel)]="updateTime" dateFormat="dd/mm/yy" [showClear]="true"
                    (onSelect)="searchUpdateTime()" (onClear)="searchUpdateTime()" placeholder="Select date" />
            </div>
            <div class="card flex justify-content-center">
                <p-dropdown [options]="statusList" [showClear]="true" [(ngModel)]="idStatusOfTheSubTask"
                    optionLabel="name" optionValue="id" placeholder="Select a status" (onChange)="getAllSubTaskById(taskDetail?.id,nameSubTask,prioritySubTask,idStatusOfTheSubTask, pageSubTask, limitSubTask,formatTimeReq(createTime),
      formatTimeReq(updateTime))" />
            </div>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search"
                    (click)="getAllSubTaskById(taskDetail?.id,nameSubTask,prioritySubTask,idStatusOfTheSubTask, pageSubTask, limitSubTask,formatTimeReq(createTime),formatTimeReq(updateTime))" />
                <input type="text" pInputText placeholder="Nhập vào tên" [(ngModel)]="nameSubTask" />
            </p-iconField>
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search"
                    (click)="getAllSubTaskById(taskDetail?.id,nameSubTask,prioritySubTask,idStatusOfTheSubTask, pageSubTask, limitSubTask,formatTimeReq(createTime),formatTimeReq(updateTime))" />
                <input type="text" pInputText placeholder="Nhập vào priority" [(ngModel)]="prioritySubTask" />
            </p-iconField>
        </div>
        <div class="card">
            <p-table [value]="subtaskList" [paginator]="true" [rows]="3" [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[1, 3, 4, 5, 8, 10]" (onPage)="onLimitChange($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2%; padding: 1rem 0; text-align: center">STT</th>
                        <th style="width: 15%; padding: 0; text-align: center">Name</th>
                        <th style="width: 20%; padding: 0; text-align: center">Description</th>
                        <th style="width: 10%; padding: 0; text-align: center">Priority</th>
                        <th style="width: 5%; padding: 0; text-align: center">Progress</th>
                        <th style="width: 10%; padding: 0; text-align: center">Create_at</th>
                        <th style="width: 10%; padding: 0; text-align: center">Update_at</th>
                        <th style="width: 10%; padding: 0; text-align: center">Status</th>
                        <th style="width: 20%; padding: 0; text-align: center">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-listSubTask let-i="rowIndex">
                    <tr>
                        <td style="text-align: center">{{ i + 1 }}</td>
                        <td style="text-align: center">{{ listSubTask.name }}</td>
                        <td style="text-align: center">{{ listSubTask.description }}</td>
                        <td style="text-align: center">{{ listSubTask.priority }}</td>
                        <td style="text-align: center">{{ listSubTask.progress }}</td>
                        <td style="text-align: center">
                            {{ formatDateTime(listSubTask.createdAt) }}
                        </td>
                        <td style="text-align: center">
                            {{ formatDateTime(listSubTask.updatedAt) }}
                        </td>
                        <td style="text-align: center">{{ listSubTask.status.name }}</td>
                        <td style="text-align: center">
                            <button pButton pRipple type="button" icon="pi pi-pen-to-square"
                                class="p-button-rounded p-button-text p-button-success"
                                (click)="getSubTaskById(listSubTask)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-text p-button-danger"
                                (click)="deleteSubTask(listSubTask.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>
</div>

<!-- Thêm mới subtask -->

<p-dialog header="Thêm mới subtask" [modal]="true" [(visible)]="addSubTask" (onHide)="clearFormSubTask()"
    [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Tên</label>
        <input [(ngModel)]="subTask.name" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Priority</label>
        <input [(ngModel)]="subTask.priority" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center  gap-5 mb-3">
        <label for="username" class="font-semibold mr-1">Status</label>
        <div class="card flex justify-content-center">
            <p-dropdown [options]="statusList" [(ngModel)]="subTask.idStatus" optionValue="id" optionLabel="name"
                placeholder="Select a status" />
        </div>

    </div>
    <div class="flex align-items-center  gap-5 mb-3">
        <label for="username" class="font-semibold mr-1">Task</label>
        <div class="card flex justify-content-center">
            <p-dropdown [options]="taskList" [disabled]="true" [(ngModel)]="subTask.idTask" optionValue="id"
                optionLabel="name" placeholder="Select a subtask" />
        </div>

    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Description</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="subTask.description"></textarea>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="addSubTask = false" />

        <p-button label="Save" (onClick)="createSubTask()" class="p-button-success" />
    </div>
</p-dialog>




<!-- Cập nhật subtask -->

<p-dialog header="Cập nhật subtask" [modal]="true" [(visible)]="visibleUpdateSubTask" (onHide)="clearFormSubTask()"
    [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Name</label>
        <input [(ngModel)]="subTask.name" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Priority</label>
        <input [(ngModel)]="subTask.priority" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Status</label>
        <div class="card flex justify-content-center">
            <p-dropdown [options]="statusList" [(ngModel)]="subTask.idStatus" optionLabel="name" optionValue="id"
                placeholder="Select a status" />
        </div>
    </div>
    <div class="flex align-items-center  gap-5 mb-3">
        <label for="username" class="font-semibold mr-1">Task</label>
        <div class="card flex justify-content-center">
            <p-dropdown [options]="taskList" [(ngModel)]="subTask.idTask" [disabled]="true" optionLabel="name"
                optionValue="id" placeholder="Select a task" />
        </div>

    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Description</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="subTask.description">
    </textarea>
    </div>
    <div class="flex justify-content-end gap-2">

        <p-button label="Cancel" severity="secondary" (onClick)="visibleUpdateSubTask = false" />
        <p-button label="Save" (onClick)="updateSubTask()" class="p-button-success" />
    </div>
</p-dialog>


<p-toast />